
body {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 126, 126, 0.995)!important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: blanchedalmond!important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.container h2 {
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}



.form-group label {
    display: block;
    margin-bottom: 5px;
}


.form-group input[type="text"], .form-group input[type="date"], .form-group input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.form-group input[type="submit"] {
    padding: 10px 20px;
    background-color: aliceblue !important;
    color: white;
    border: none;
    cursor: pointer;
}
.form-group input[type="submit"]:hover {
    background-color: skyblue!important;
}
